* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nosifer', sans-serif;
	// font-family: 'Dancing Script', cursive;
	// font-family: 'Indie Flower', cursive;
	// font-family: 'Roboto', sans-serif;
}
